/* Wrapper */
.su-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Sand + subtle medical warmth */
  background: linear-gradient(180deg, #ffffff, #f5e6ca);
  height: 100vh;
}

/* Card */
.su-card {
  background: #ffffff;
  border: 1px solid #e0d3b8;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(42, 161, 152, 0.15);
  width: 320px;
  height: 400px;
  text-align: center;
}

/* Title */
.su-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #1f8a82;
  /* teal */
}

.su-logo-icon {
  font-size: 18px;
  margin-right: 8px;
  color: #2aa198;
}

/* Subtext */
.su-subtext {
  font-size: 10px;
  color: #000000;
  margin-bottom: 25px;
}

/* Form */
.su-form-group {
  text-align: left;
  margin-bottom: 18px;
}

.su-form-group label {
  display: block;
  font-size: 10px;
  margin-bottom: 6px;
  color: #2f3e3e;
  font-weight: 600;
}

/* Input */
.su-input-box {
  display: flex;
  align-items: center;
  border: 1px solid #cfe7e4;
  border-radius: 6px;
  padding: 8px 10px;
  background: #fbf7ef;
  transition: border 0.2s ease, box-shadow 0.2s ease;

}

.su-input-box:focus-within {
  border-color: #2aa198;
  box-shadow: 0 0 0 2px rgba(42, 161, 152, 0.2);
  background: #fbf7ef;
}

.emial-input-su {
  color: #000000;
  font-weight: 600;

}

.su-input-icon {
  margin-right: 8px;
  color: #2aa198;
}

.su-input-box input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 10px;
  background: transparent;
  color: #2f3e3e;
}

/* Button */
.su-btn-signup {
  width: 300px;
  background: linear-gradient(135deg, #2aa198, #1f8a82);
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 12px;
  transition: all 0.2s ease;
}

.su-btn-signup:hover {
  background: linear-gradient(135deg, #1f8a82, #166f68);
  transform: translateY(-1px);
}

/* Link */
.su-signin-link {
  margin-top: 15px;
  font-size: 09px;
  color: #4b5f5f;
}

.su-signin-link a {
  color: #2aa198;
  font-weight: 600;
  text-decoration: none;
}

.su-signin-link a:hover {
  text-decoration: underline;
}