.hp-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8b5e3c; /* white background */
  padding: 0 20px;
  color: #f9f9f9; /* black text */
  height: 60px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.hp-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hp-menu-toggle {
  font-size: 22px;
  cursor: pointer;
  color: #f9f9f9;
}

.hp-logo {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #f9f9f9;
  margin-left: 20px;
}

.hp-logo-icon {
  margin-right: 6px;
  font-size: 17px;
  color: #f9f9f9;
}

.hp-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hp-icon {
  font-size: 14px;
  cursor: pointer;
  color: #f9f9f9;
  transition: transform 0.2s;
}
.hp-icon-label {
  font-size: 12px;
  margin-top: 2px;
  color: #ffffff;
  font-weight:600;
}
.hp-icon:hover {
  transform: scale(1.1);
}

.hp-profile-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ddd;
  object-fit: cover;
}
.hp-icon-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}