.imp-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ear-container {
  display: flex;
  flex-direction: row;
  width: auto;
  background-color: transparent;
  gap: 30px;
  margin-top: 35px;
}

/* .ear-section {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
} */

.ear-card {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 8px;
  gap: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-box {
  height: 240px;
  width: 100%;
  margin-bottom: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputs label {
  font-weight: bold;
  font-size: 10px;
}

.inputs input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 10px;
}

.imp-title {
  font-size: 10px;
  margin-bottom: 10px;
  text-align: center;
}